 body {
   background-image: linear-gradient(#FFFFFF, #e69c2d);
   font-family: 'Lexend Deca', sans-serif;
   margin: auto;
   padding-top: 30px;
   color: #39434d;
 }

 ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
 }

 a {
  border: 2px solid black;
  border-radius: 50%;
  width: 11rem;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  border-radius: 16px;
  font-family: 'Lexend Deca', sans-serif;
  text-wrap: nowrap;
}

 li {
   display: inline;
 }

 nav {
   text-align: center;
 }

 img {
   border: 2px solid black;
   padding: 10px;
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 60vw;
   height: 75vh;
   object-fit: cover;

 }

 h1 {
   text-align: center;
 }

 figure {
   margin-top: 40px;
 }

 h2 {
   text-align: center;
 }

 .reasons-list>li {
   font-weight: bold;
   list-style-type: square;
   display: block;
   padding: 2px;
   text-align:center
   
 }

 h3 {
  text-align:center
 }
 .car {
  visibility:hidden;
 }
 a:hover .car {
  visibility: visible;
  font-size:larger;
}
a:active .car {
  visibility: visible;
  font-size:x-large

}
img {
  
}
 